@import 'variables';

.categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: $background-white;
  border-radius: $mainBorder-radius;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  min-height: 90px;

  &__list {
    flex-grow: 1;

    ul {
      display: flex;
      flex-wrap: wrap;

      & > .loadingBlock {
        margin: 12px
      }

      li, a {
        display: flex;
        flex: auto;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        width: 120px;
        max-height: 45px;
        padding: 13px 30px;
        border-radius: 10px;
        margin: 12px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.1s ease-in-out;
        @include noselect();

        &.border-gray {
          border: 1px solid $gray-line;

          &.active {
            background-color: $gray-line;
          }
        }

        &.border-orange {
          border: 1px solid $orange-line;

          &.active {
            background-color: $orange-line;
          }
        }

        &.border-red {
          border: 1px solid $red-line;
          
          &.active {
            background-color: $red-line;
          }
        }

        &.border-yellow {
          border: 1px solid $yellow-line;

          &.active {
            background-color: $yellow-line;
          }
        }

        &.border-blackGreen {
          border: 1px solid $blackGreen-line;

          &.active {
            background-color: $blackGreen-line;
          }
        }

        &.border-lightBlue {
          border: 1px solid $lightBlue-line;

          &.active {
            background-color: $lightBlue-line;
          }
        }

        &:hover {
          background-color: darken(#f9f9f9, 3%);
        }

        &:active {
          background-color: darken(#f9f9f9, 5%);
        }
      }
    }
  }

  &__search {
    flex-grow: 3;

    form {
      position: relative;
      margin: 12px;
      width: 100%;

      input,
      button {
        border: none;
        outline: none;
      }

      input {
        width: calc(100% - 24px);
        height: 45px;
        padding-left: 45px;
        border: 1px solid $gray-line;
        border-radius: $mainBorder-radius;
        font-size: 16px;
        font-weight: bold;
      }

      button {
        position: absolute;
        height: 45px;
        background-color: transparent;
        cursor: pointer;

        &:hover {
          bottom: 1px;
        }
      }
    }
  }
}
