@import 'variables';

.creation-block {
  background-color: $background-white;
  border-radius: $mainBorder-radius;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 30px 0;
  padding: 12px;

  .page {
    &__number {
      display: inline;
      color: rgba(0, 0, 0, 0.5);
      font-size: 32px;
      line-height: 1;
      user-select: none;
    }

    &__header {
      margin-bottom: 40px;
      font-size: 32px;
      text-align: center;
      user-select: none;

      @media screen and (max-width: 320px) {
        font-size: 22px;
      }
    }

    &__progerss-bar {
      margin-bottom: 60px;

      @media screen and (max-width: 750px) {
        display: none;
      }

      .progress-bar {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        counter-reset: step;

        li {
          position: relative;
          text-align: center;
          cursor: pointer;

          &::before {
            content: counter(step);
            counter-increment: step;
            margin: 0 20px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 50%;
            display: block;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            font-size: 20px;
            text-align: center;
            user-select: none;
            background-color: #fff;
            position: relative;
            z-index: 2;
          }

          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 10px;
            background-image: radial-gradient(#ebebeb 40%, transparent 50%);
            background-size: 10px 10px;
            background-position: 0 center;
            display: block;
            top: 20px;
            left: -50%;
            z-index: 1;
          }

          &:hover::before {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          }

          &:first-child::after {
            content: none;
          }

          &.active::before {
            box-shadow: 0px 0px 10px rgba(255, 230, 0, 0.5);
          }

          &.active:hover::before {
            box-shadow: 0px 0px 20px rgba(255, 230, 0, 0.5);
          }

          &.active::after {
            background-image: radial-gradient(#f3e030 20%, transparent 50%);
          }

          &.passed::before {
            box-shadow: 0px 0px 10px rgba(20, 167, 0, 0.5);
          }

          &.passed:hover::before {
            box-shadow: 0px 0px 20px rgba(20, 167, 0, 0.5);
          }

          &.passed::after {
            background-image: radial-gradient(#98d39d 40%, transparent 50%);
          }
        }
      }
    }

    &__form {
      max-width: 500px;
      margin: 0 auto;
      margin-bottom: 100px;
      padding: 12px;
      background-color: $background-white;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

      .form-info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 15px;

        .header {
          font-size: 24px;

          @media screen and (max-width: 320px) {
            font-size: 18px;
          }
        }
        .description {
          position: relative;

          & > svg:hover > path {
            transition: 0.2s ease-in-out 0.3s;
            fill: black;
          }

          &::before,
          &::after {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            z-index: 3;
          }

          &::before {
            content: attr(data-name);
            word-break: keep-all;
            width: 200px;
            min-height: 20px;
            font-size: 16px;
            padding: 10px;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
            background: $background-white;
            border-radius: 10px;
            bottom: 30px;
            right: -10px;
          }

          &::after {
            content: '';
            margin-right: 20px;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-top-color: $background-white;
            bottom: 0px;
            right: -17px;
          }

          &:hover::before,
          &:hover::after {
            opacity: 1;
            visibility: visible;
            transition: 0.2s ease-in-out 0.3s;
          }

          &:hover::before {
            bottom: 50px;
          }

          &:hover::after {
            bottom: 30px;
          }
        }
      }

      .form-input {
        margin-bottom: 15px;

        .radio-input {
          display: inline-block;

          input[type='radio'] {
            cursor: pointer;
            margin: 0 10px 0 40px;
          }
        }

        textarea,
        input[type='text'] {
          width: 100%;
          border: none;
          outline: none;
          height: 35px;
          padding: 12px;
          border: 1px solid $gray-line;
          border-radius: $mainBorder-radius;
          font-size: 16px;
        }

        textarea {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          resize: none;
          padding: 4px 10px;
          background: #d2d2d2;
          margin-bottom: 10px;
          user-select: none;
        }
      }

      .form-transition {
        display: flex;
        justify-content: flex-end;

        span {
          &.not-allowed {
            cursor: not-allowed;
          }
        }

        button {
          height: 35px;
          padding: 0 10px;
          border-radius: $mainBorder-radius;
          font-size: 16px;

          &.none-pointerEvents {
            pointer-events: none;
          }

          @media screen and (max-width: 320px) {
            font-size: 12px;
          }
        }
      }
    }

    &__transition {
      display: flex;
      justify-content: flex-end;

      span {
        &.not-allowed {
          cursor: not-allowed;
        }
      }

      button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 24px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        user-select: none;

        &.none-pointerEvents {
          background: darken(#f9f9f9, 10%);
          pointer-events: none;
        }
      }
    }

    button {
      margin-left: 10px;
      border: none;
      outline: none;
      user-select: none;
      border: 1px solid $gray-line;
      background-color: $background-white;

      &:hover {
        cursor: pointer;
        background-color: darken(#f9f9f9, 3%);
      }
    }
  }
}
