$black: #232323;
$background-gray: #f3f3f3;
$background-white: #ffffff;
$gray-line: #d2d2d2;
$orange-line: #f2994a;
$red-line: #eb5757;
$yellow-line: #f2c94c;
$blackGreen-line: #219653;
$lightBlue-line: #2f80ed;

$container-width: 90%;
$mainBorder-radius: 10px;


$duration: 0.15s;
